report {
    enabled = true
    file = "nextflow.html"
}
timeline {
    enabled = true
    file = "timeline.html"
}
trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

profiles {
    docker {
        docker.enabled = true
        process {
            withName: run_IGV {
                container = "stevekm/igv-nf:IGV"
            }
        }
    }
    singularity {
        params.containerDir = new File("containers").getCanonicalPath()

        // on NYULMC HPC need to load this module for Singularity...
        process.module = "singularity/2.5.2"

        singularity.enabled = true
        singularity.autoMounts = true
        process {
            withName: run_IGV {
                container = "${params.containerDir}/IGV/IGV.simg"
            }
        }
    }
}
